body{
  text-align:center;
  background: #fffaf0;
}

#container{
  width: 100%;
  padding: 17px;
  box-sizing: border-box;
}

#container > div:first-child > h1{
  font-family: 'VT323', monospace;
  font-size: 35px;
  margin: 2px auto;
}

#content{
  background: #e6e6fa;
  border: 2px solid #483d8b;
}

#topBar{
  text-align:left;
  width:100%;
  margin:20px 0;
  padding: 10px 7px 0 7px;
}

#topBar p{
  display: inline;
  font-size: 24px;
  margin-right: 10px;
}

#game > div:first-child{
  width: 100%;
}

#game > div:first-child > h1{
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

#game div:nth-child(2){
  width: 75%;
  margin: 0 auto;
}

#game div:nth-child(2) .box{
  width: 20%;
  height: 150px;
  border: 1px solid black;
  display: inline-block;
  margin: 7px;
  cursor: pointer;
}

#container > div:nth-child(3){
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  text-align: left;
  margin-top: 10px;
}

#container > div:nth-child(3) > h2{
  color: #483d8b;
}

#container div:nth-child(3) > ul > li{
  font-size: 17px;
  margin-left: 12px;
  list-style-type: disc;
  line-height: 24px;
  text-transform: none;
}

@media screen and (max-width: 800px) {
  #game > div:first-child > h1{
    font-size: 30px;
  }
}
