#dialog h2, p{
  font-size: 30px;
  margin: 7px auto;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#dialog h2{
  font-family: 'VT323', monospace;
}

#dialog p{
  font-size: 24px;
}

#dialog button{
  margin: 17px 5px 0 5px;
}
