<!doctype html>

<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">

  <title>Color Game!</title>
  <meta name="description" content="color game">

  <link rel="Stylesheet" type="text/css" href="css/reset.css" />
  <link rel="Stylesheet" type="text/css" href="css/colorsGame.css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <link rel="Stylesheet" type="text/css" href="css/dialog.css" />

  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="js/_ColorsGame.js"></script>

  <script>
    $( function() {
      $( "#dialog" ).dialog({
        autoOpen: false,
        show: {
          effect: "blind",
          duration: 1000
        },
        hide: {
          effect: "explode",
          duration: 1000
        }
      });
    } )
  </script>
</head>

<body>
  <div id="container" class="clearfix" ng-controller="myCtrl">

    <div id="dialog" title="Game Over">
      <h2>Game over</h2>
      <p>Points:: {{ points }}</p>
      <div>
        <button>
          <a href="http://makowska-e.eu">eng</a>
        </button>
        <button>
          <a href="index.html">again</a>
        </button>
      </div>
    </div>
<!--end dialog -->
    <div>
      <h1>ColorsGame</h1>
    </div>
    <div id="content">
      <div id="topBar">
          <p>fails: {{ fail }}</p>
          <p>points: {{ points }}</p>
      </div>
    <div id="game">
      <div>
        <h1 style="color:{{ randColor }}">{{ randName }}</h1>
      </div>
        <div>
          <div ng-repeat="color in colors" class="box" style="background:{{ color.rgb }}" ng-click="play(color.rgb, randColor)">
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2>rules:</h2>
      <ul>
        <li>Click on appropriate square as quickly as you can. Square have to have the same color as inscription above</li>
        <li>The more points the more colors to choose and less time to choose it</li>
        <li>Try to collect as many points as you can</li>
        <li>Three mistakes, game over</li>
      </ul>
    </div>
  </div>
</body>
</html>
