<!doctype html>

<html lang="pl" ng-app="myApp">
<head>
  <meta charset="utf-8">

  <title>Color Game!</title>
  <meta name="description" content="color game">

  <link rel="Stylesheet" type="text/css" href="css/reset.css" />
  <link rel="Stylesheet" type="text/css" href="css/colorsGame.css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <link rel="Stylesheet" type="text/css" href="css/dialog.css" />

  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="js/ColorsGame.js"></script>

  <script>
    $( function() {
      $( "#dialog" ).dialog({
        autoOpen: false,
        show: {
          effect: "blind",
          duration: 1000
        },
        hide: {
          effect: "explode",
          duration: 1000
        }
      });
    } )
  </script>
</head>

<body>
  <div id="container" class="clearfix" ng-controller="myCtrl">

    <div id="dialog" title="Game Over">
      <h2>Koniec gry</h2>
      <p>Twój wynik: {{ points }}</p>
      <div>
        <button>
          <a href="http://makowska-e.eu">koniec</a>
        </button>
        <button>
          <a href="index.html">jeszcze raz</a>
        </button>
      </div>
    </div>
<!--end dialog -->
    <div>
      <h1>ColorsGame</h1>
    </div>
    <div id="content">
      <div id="topBar">
          <p>błędy: {{ fail }}</p>
          <p>punkty: {{ points }}</p>
      </div>
    <div id="game">
      <div>
        <h1 style="color:{{ randColor }}">{{ randName }}</h1>
      </div>
        <div>
          <div ng-repeat="color in colors" class="box" style="background:{{ color.rgb }}" ng-click="play(color.rgb, randColor)">
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2>zasady:</h2>
      <ul>
        <li>JAK NAJSZYBCIEJ KLIKNIJ NA KWADRAT W TYM SAMYM KOLORZE W KTÓRYM JEST NAPIS (A NIE TEN, KTÓRY "GŁOSI" NAPIS)</li>
        <li>IM WIĘCEJ PUNKTÓW TYM WIĘCEJ KOLORÓW DO WYBORU I SZYBKOŚĆ ICH ZMIENIANIA SIĘ</li>
        <li>POSTARAJ SIĘ ZEBRAĆ JAK NAJWIĘCEJ PUNKTÓW</li>
        <li>GDY POMYLISZ SIĘ TRZY RAZY, PRZEGRYWASZ</li>
      </ul>
    </div>
  </div>
</body>
</html>
